.container {
	min-width: 18.75rem;
	padding-inline: max(1.5rem, 6%);
	padding-block: 5.5rem 4.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 2.8125rem;
	align-items: center;
	&__top,
	&__bottom {
		flex: 1 1 100%;
	}
	&__title {
		margin-bottom: 1rem;
	}
	&__text {
		margin-bottom: 2rem;
	}
	&__cta {
		margin-bottom: 1.5rem;
	}
}
@media (min-width: 61.25rem) {
	.container {
		padding-inline: min(12%, 10.3125rem);
		padding-block: 7rem;
		&__top,
		&__bottom {
			flex: 1 1 21.875rem;
		}
	}
}
