.s-error {
	&::after {
		position: absolute;
		content: "";
		width: 1.5rem;
		height: 1.5rem;
		background: url(../images/icon-error.svg);
		background-size: cover;
		top: 1rem;
		right: 1.5rem;
		//transform: translate(0%, -50%);
		z-index: 10;
	}
	& > .m-form__input {
		border: 2px solid #ff7979;
		color: #ff7979;
	}
	& > .m-form__error {
		display: block;
	}
}
